* {
    box-sizing: border-box;
}

.home-link:hover {
    color: red;
}

.price {
    color: rgb(0, 118, 0);
}

.price, .day, .add-to-cart-btn, .buy-now-btn {
    font-weight: 700;
}

.add-to-cart-btn, .buy-now-btn {
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 50px;
}

.add-to-cart-btn {
    background-color: rgb(255, 216, 20);
    cursor: pointer;
    margin-right: 10px;
}

.buy-now-btn {
    background-color: rgb(255, 164, 28);
    cursor: pointer;
}

.add-to-cart-btn a, .buy-now-btn a {
    text-decoration: none;
}

.add-to-cart-btn:hover {
    background-color: rgb(240, 206, 35);
}

.buy-now-btn:hover {
    background-color: rgb(239, 154, 27);
}