* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px 10px 100px 10px;
    border: 1px solid rgb(241, 238, 238);
    border-radius: 5px;
    margin: 2px;
}

.main-div {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    column-gap: 20px;
    row-gap: 40px;
}

.a {
    display: grid;
    grid-template-columns: 200px 75px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.b {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    margin-bottom: 100px;
}

.div-1 {
    background-color: lightblue;
}

.div-2 {
    background-color: lightpink;
}

.entire {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    height: 500px;
}